

body{
    background-color: #FFFEF8;
    max-width: 1140px;
    margin:auto;
    font-size: 14px;
}


#insta{
	width: 20px;
}

#seConnecter{
    margin-top: 40px;
    font-family: "Syne";
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    height: inherit;
    height: 36px;
}

/* p {
    border-bottom: black solid 1px;
} */




h2{
    font-size: 30px;
}

a {
    margin: auto;
    text-decoration: none;
    color: #3D3D3D;
    font-family: 'work sans';
}


header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

header nav{
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

h1
{
    display: flex;
    flex-direction: column;
    font-family: 'Syne';
    font-size: 22px;
    font-weight: 800;
    color: #B1663C;
}

h1 > span {
    font-family: 'Work Sans';
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2{
    font-family: 'Syne';
    color: #1D6154;
}


header nav ul {
    width: 400px;
    justify-content: space-around;
    font-family: 'Work Sans';
	display: flex;
	align-items: center;
	list-style-type: none;
}
header nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}


#login {
	width: 379px;
    margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#email {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#password {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


#login label {
	margin: 2em 0 0 0;
}


label{
    font-family: 'work sans';
    color: #3D3D3D;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    border: none;
    box-sizing: border-box;
}

input[type=submit] {
    align-self: center;
    border-radius: 20px;
    font-family: 'Work Sans';
    background-color: #1D6154;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: #1D6154;
    cursor: pointer;
    width: 50%;
}

input[type=submit]:hover {
    font-family: 'Work Sans';
    background-color: white;
    color: #1D6154;
    border: 1px solid #1D6154;
}

footer{
    width: 100%;
    height: 60px;
    background-color: white;
    position: absolute;
    left: 0; bottom: 0;
    font-family: 'Work Sans';

}

footer nav ul {
    list-style-type: none;
    font:inherit;
	display: flex;
    align-items: center;
	justify-content: flex-end;
    margin-top: 20px;
    margin-right: 100px;
}

a {
	text-decoration: none;
}

p{
    text-decoration: underline;
}


.only-guest{display:block;}
.only-admin{display:none;}
body.connected .only-guest{display:none;}
body.connected .only-admin{display:block;}